// 此變數為框架之整體變數，控制整體網站之設定，包含 顏色、文字、格線系統
// 於mixins 資料夾內，各個模組也有其個別使用的變數，請至個別檔案設定，個別使用變數不含在此設定

//-------------------------------------------------------------顏色---------//
// 定義顏色 此顏色可自由變換
$primaryColor: #1769b3; //主色
$secondaryColor: #4578ad; //輔色
$lightColor: #fcd618; //點綴
$linkColor: #21baff; //連結
$importantColor: #ff3e4d; //重要
// 但注意真實顏色與語意的關聯必須易於辨識
$color-blue: #21baff;
$color-green: #099;	
$color-orange: #f77810;
$color-red: #e31c1c;
$color-yellow: #fcc211;
$color-purple: #7915b2;
$color-gray: #ccc;
$color-dark: #333333;
$color-hr: #666; //hr顏色
$color-word: #222; //一般字的顏色
// 連結顏色
$aColor: darken($primaryColor,10);
$aHover: $primaryColor;

// 表單focus顏色
$form-focus: #21baff; //表單
$form-btn: #21baff; //表單

// 內頁左欄menu
$left_title: #3870bb;
$first-active:#dbdbdb;
$second_active:#0b7fa6;
// np
$nphover:#3a83ba;
// header nav
$casebtn01: #028080;
$casebtn02:#aa6436;
//-------------------------------------------------------------字型--------//

// 字型設定
$font-family: Lato, 'PingFang TC', 'Helvetica Neue', Helvetica, 微軟正黑體,
  Arial, sans-serif;

$font-size: 1em;

//-------------------------------------------------------------格線系統-----//

// 格線系統
$grid-columns: 12 !default;                //格線欄位數
$grid-gutter-width: 30px !default;         //左右padding
$container-max: 1200px !default;           //container最大寬

//mediaquery
$screen-lg: 1200px !default; //電腦
$screen-md: 992px !default; //平板
$screen-sm: 768px !default; //手機
$screen-xs: 576px !default; //極小尺寸

//-------------------------------------------------------------客製化------//
$fatfooter-length: 6; //fatfooter選單一行個數
$fatfooterBgColor: #3d80bc; //fatFooter 底色

//-------------------------------------------------------------客製化------//

$rounded-angle: 10px; //整站導角

$logo:				 url('../images/newtaipei/logo.png');
// $mainbg:			 url('../images/newtaipei/bg01.jpg');
$h2bg:      		 url('../images/newtaipei/h2_icon01.png');
$announcement_bg:	 url('../images/newtaipei/news_bg.jpg');
$service_blockbg:    url('../images/newtaipei/service_leftbg.jpg');
$service_beforebg:   url('../images/newtaipei/service_rightbg.png');
$fatfooterbg:        url('../images/newtaipei/fatfooter_bg01.jpg');
$qaTitle:			 url('../images/newtaipei/icon_logo.png');	
$cph3beforebg:		 url('../images/newtaipei/icon_logo_blue.png');
$cph3afterebg:		 url('../images/newtaipei/icon_category.png');
$closepeoplebg:	 	 url('../images/newtaipei/closepeople_bg.jpg');	
$courtperiodbg:	 	 url('../images/newtaipei/court_period_bg.jpg');	



