.category {
    @extend %clearfix;
    text-align: left;
    border-bottom: 2px solid darken($categorycolor, 20);
  border-top: 2px solid darken($categorycolor, 20);
  margin-top: 0;
  margin-bottom: 10px;
    ul {
        @include li-reset;
        li {
            margin: 3px 0;
            display: block;
            float: left;
        }
    }
    &.col2 {
        ul li {
            @include make-xs-column(6);
            @include make-sm-column(6);
            @include make-md-column(6);
            @include make-lg-column(6);
        }
    }
    &.col3 {
        ul li {
            @include make-xs-column(6);
            @include make-sm-column(4);
            @include make-md-column(4);
            @include make-lg-column(4);
        }
    }
    &.col4 {
        ul li {
            @include make-xs-column(6);
            @include make-sm-column(3);
            @include make-md-column(3);
            @include make-lg-column(3);
        }
    }
    &.col6 {
        ul li {
            @include make-xs-column(6);
            @include make-sm-column(2);
            @include make-md-column(2);
            @include make-lg-column(2);
        }
    }
    &.col5 {
        ul li {
            width: 20%;
            @include screen('mobile') {
                width: 50%;
            }
        }
    }
    a {
    padding: .4em .75em;
    display: block;
    color: $categorycolor;
    width: 100%;
    @include box-sizing();
    &:before{
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 6px;
      border-color: transparent transparent transparent $categorycolor;
      display: inline-block;
      margin-right: 8px;
    }
    &:hover,
    &:focus {
      color: #FFF;
      background: $categorycolor;
      box-shadow: none;
      &:before{
        border-color: transparent transparent transparent #fff;
      }
    }
    &.active {
      color: #FFF;
      background: $categorycolor;
    }
    span {
      font-size: .813em;
      &:before {
        content: "(";
        display: inline-block;
      }
      &:after {
        content: ")";
        display: inline-block;
      }
    }
  }
}