.fatfooter {
    @include make-fatfooter($fatfooter-length, 100%);
    @extend %clearfix;
    overflow: hidden;
    padding-bottom: 1em;
    margin: 0 auto;
    background: $fatfooterBgColor;
    background-image: $fatfooterbg;
    background-position:center top;
    background-repeat: no-repeat;
    background-size:100%;
    @include screen('mobile') {
        display: none;
    }
    .container {
        overflow: hidden;
        @include box-sizing;
        @include gutter;
    }
    // 按鈕
    .btn-fatfooter {
        font-size: .813em;
        display: block;
        width: 64px;
        height: 64px;
        color: #FFF;
        border: none;
        background: #e2e2e2;
        position: absolute;
        right: 40px;
        top:0;
        z-index: 9;
        text-indent: -9999px;
        border-radius:0;
        margin:0;
        padding:0.5em;
        &:before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border: 2px solid #000;
            border-left: none;
            border-bottom: none;
            transform: rotate(135deg);
            left: 50%;
            top: 42%;;
            margin-left: -5px;
            transition: .3s ease-out;
        }
        &:hover,
        &:focus {
           background: darken(#e2e2e2, 5);
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            border: none!important;
            box-shadow: none;
            outline: none;
            border: none;
            cursor: pointer;
            

        }
         &:focus{
            box-shadow:0px 0px 0px 2px $color-yellow inset;
         }
        &.close {
            &:before {
                transform: rotate(-45deg) !important;
                top: 40%;
            }
        }
    }
    nav {
        overflow: hidden;
        display: block;
        position: relative;
        padding: 70px 0em 0 7em;
        @include box-sizing;
        @include screen('tablet'){
            padding: 70px 0em 0 5em;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            @include li-reset;
            font-size: 0.938em;

            li {
                flex:none;
                flex-basis: 24%;
                margin:0 .5% 30px;
                @include box-sizing;
                letter-spacing: 0.1em;

                a {
                    line-height: 1.5;
                    display: block;
                    font-weight: bold;
                    padding: .5em 0px;
                    color:#fff;
                    @include box-sizing;
                    &:hover{
                        box-shadow: none;
                    }
                }
                ul {
                    
                    display: none;
                    
                    margin: 0;
                    padding:0 1em 0 0;  
                    font-size: 0.938em;                
                    @include screen('mobile') {
                        width: auto;
                    }
                    li {
                        display: 0 0 100%;
                          margin-bottom:0;
                          letter-spacing: 0.05em;
                        a {
                            display: block;
                            @include aSetting_nocolor;
                            font-weight: normal;
                            text-align: left;
                            position:relative;
                            line-height: 1.3em;
                            padding: .5em 0 .5em 1em;
                            background: none;
                            color:#fff;
                            &:before{
                                content: '';
                                width:5px;
                                height: 1px;
                                position:absolute;
                                left:0;
                                top:50%;
                                background-color:#fff;
                            }
                            &:hover, &:focus{
                                background-color:$sitemap_color;
                                color:#fff;
                            }
                        }
                    }
                    //第三層關閉
                    ul {
                        display: none;
                    }
                }
            }
        }
    }
}