.tabSet {
    max-width: 100%;
    margin: 1em auto 0;
    overflow: hidden;
    @extend %clearfix;
    @include screen('mobile') {
        width: auto;
        height: auto !important;
    }
}
.announcement, .pictab_block {
    .tabSet {
        max-width: 100%;
        margin: 1em auto 0;
        overflow: hidden;
        @extend %clearfix;
        @include screen('tablet') {
            width: auto;
            height: auto !important;
        }
    }
    .tabs {
        position: relative;
        &:before {
            content: '';
            width: 100%;
            height: 62px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            border-radius: 3px;
            background: rgb(158, 107, 17);
            background: linear-gradient(90deg, rgba(158, 107, 17, 1) 83%, rgba(251, 214, 112, 1) 100%);
        }
        &>.tabItem {
            &.active>a {
                background-color: #3e3321;
                color: #fff;
                &:hover {
                    background-color: #3e3321;
                    color: #fff;
                }
            }
            display: inline-block;
            // float: left;
            margin: 0;
            padding: 0;
            font-size:1.125em;
            line-height: 1;
            // letter-spacing: 0.05em;
            @include screen('tablet') {
                display: block;
                &>a {
                    width: 100% !important;
                    border-bottom: 1px solid #f7f3ee;
                }
                &.active>a {
                    border-color: #f7f3ee;
                }
            }
            &>a {
                display: block;
                padding: 25px 25px 19px;
                text-align: center;
                background-color: transparent;
                color: #fff;
                font-weight: bold;
                text-decoration: none;
                position: relative;
                z-index: 2;
                width: auto;
                @include text-overflow;
                @include box-sizing;
                @include screen('notebook'){
                    padding: 25px 15px 19px;
                }
                @include screen('tablet') {
                    background-color: $secondaryColor;
                }
                &:hover {
                    background-color: darken($secondaryColor, 6);
                    color: #fff;
                }
                &:focus {}
            }
        }
        .tabContent {
            position: absolute;
            top: auto;
            left: 0;
            right: 0;
            clear: both;
            padding: 15px 0px 0;
            display: none;
            // background-color:#fff;
            text-align: left;
            @include screen('tablet') {
                position: static;
                text-align: center;
            }
            .tablist {
                @include li-reset;
                margin: 5px 0px 20px;
                li {
                    margin: 0;
                    padding: 15px 0;
                    line-height: 1.3;
                    border-bottom: 1px #CCC solid;
                    display: flex;
                    @include screen('tablet') {
                        @include text-overflow();
                        flex-wrap: wrap;
                        text-align: left;
                        justify-content: flex-start;
                    }
                    a {
                        @include text-overflow;
                        width: calc(100% - 200px);
                        color: #000;
                        &:hover {
                            color: $aHover;
                        }
                        @include screen('tablet') {
                            width: 100%
                        }
                    }
                    time {
                        margin: 0;
                        color: #333;
                        width: 170px;
                        text-align: center;
                        @include screen('tablet') {
                            width: 100%;
                            margin-bottom: 10px;
                            text-align: left;
                        }
                    }
                }
            }
            table {
                tr {
                    &:nth-child(even) {
                        background: transparent;
                    }
                }
            }
        }
    }
}
.active+.tabContent {
    display: block;
}
.close_people {
    .tabs {
        position: relative;
        &.closepeopletab {
            height: 300px !important;
            @include screen('mobile') {
                height: auto !important;
            }
        }
        &>button.tabItem {
            border-radius: 0;
            border: none;
            &.active {
                background-color: #f9e7bc;
                color: darken($primaryColor, 10);
                position: relative;
                overflow: inherit;
                &:after {
                    content: "";
                    border-style: solid;
                    border-width: 10px;
                    border-color: transparent transparent transparent #f9e7bc;
                    position: absolute;
                    right: -19px;
                    top: 50%;
                    margin-top: -10px;
                    @include screen('mobile') {
                        display: none;
                    }
                }
                &:hover {
                    background-color: #f9e7bc;
                    color: darken($primaryColor, 10);
                }
            }
            float: none;
            width:23% !important;
            margin: 0 0 1px 0;
            padding: 0;
            font-size:1.063em;
            line-height: 1;
            top: auto !important;
            right:auto !important;
            display: block;
            padding: 20px 0;
            text-align: center;
            background-color: rgba(0, 0, 0, .62);
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            @include text-overflow;
            @include box-sizing;
            &:hover {
                background-color: rgba(0, 0, 0, .8);
                border: none !important;
            }
            &:focus {
                background-color: #f9e7bc;
                color: darken($primaryColor, 10);
                box-shadow: none;
                border: none !important;
            }
            @include screen('mobile') {
                float: none;
                width: 100% !important;
                border-bottom: 1px solid #fff;
                &.active {
                    border-color: #bbb;
                }
            }
        }
        .tabContent {
            position: absolute;
            top: 0;
            left: 28%;
            right: 0;
            clear: both;
            padding: 0;
            overflow: hidden;
            display: none;
            // background-color:#fff;
            text-align: left;
            @include screen('mobile') {
                position: static;
                text-align: center;
                padding: 30px 0 0;
            }
            .tablist {
                @include li-reset;
                margin: 5px 0px 20px;
                li {
                    margin: 0;
                    padding: 15px 0;
                    line-height: 1.3;
                    border-bottom: 1px #CCC solid;
                    display: flex;
                    @include screen('mobile') {
                        @include text-overflow();
                        flex-wrap: wrap;
                        text-align: left;
                        justify-content: flex-start;
                    }
                    a {
                        @include text-overflow;
                        width: calc(100% - 200px);
                        color: #000;
                        &:hover {
                            color: $aHover;
                        }
                        @include screen('mobile') {
                            width: 100%
                        }
                    }
                    time {
                        margin: 0;
                        color: #333;
                        width: 170px;
                        text-align: center;
                        @include screen('mobile') {
                            width: 100%;
                            margin-bottom: 10px;
                            text-align: left;
                        }
                    }
                }
            }
            table {
                tr {
                    &:nth-child(even) {
                        background: transparent;
                    }
                }
            }
        }
    }
}
//多組 可設定差異
// .example-2 {
//     .tabItem>a:hover {
//         background: $secondaryColor;
//     }
//     .tabItem.active>a {
//         background: $secondaryColor;
//     }
// }
// 顯示content