.navigation {
    .navlist {
        ul {
            >li {
                a {
                    &.searchbtn {
                        &:hover {
                            background-image: url('../images/icon/icon_search_black.svg');
                        }
                    }
                    &.unitsbtn {
                        &:hover {
                            background-image: url('../images/icon/icon_sitemap_black.svg');
                        }
                    }
                }
            }
        }
    }
}
.megamenu {
    margin: 0 30px;
    >ul {
        border-radius: 5px;
        li {
            .megamenu_2nd {
                border-radius: 5px;
            }
        }
    }
}