
.main {
    background-image: $announcement_bg;
    background-repeat: repeat-y;
    background-position: center top;
}
.innerpage { background-image: none;}
.megamenu {
    margin: 0;
    >ul {
        border-radius: 0;
    }
    ul {
        li {
            .megamenu_2nd {
                border-radius: 0;
            }
        }
    }
}
