.navigation {
    .navlist {
        ul {
            >li {
                a {
                    &.searchbtn {
                        &:hover {
                            background-image: url('../images/icon/icon_search_black.svg');
                        }
                    }
                    &.unitsbtn {
                        &:hover {
                            background-image: url('../images/icon/icon_sitemap_black.svg');
                        }
                    }
                }
            }
        }
    }
}
.main {
    h2 {
        letter-spacing: 0;
        font-size: 1.625em;
        margin: 0 0 40px;
    }
}
.megamenu {
    margin: 0 30px;
    >ul {
        border-radius: 5px;
        li {
            .megamenu_2nd {
                border-radius: 5px;
            }
        }
    }
}
footer{
    .footer_connection{
        .title{
            letter-spacing:0;
        }
    }
}