.main {
    background-image: $announcement_bg;
    background-repeat: repeat-y;
    background-position: center top;
}
.innerpage {
    background-image: none;
}
.npbg {
    background-image: url('../images/npbg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}
.header {
    background: none;
    background-image: $headerbg;
    background-repeat: no-repeat;
    background-position: center top;
    @include screen('tablet') {
        background-image: none;
        background: rgb(253, 253, 253);
        background: linear-gradient(180deg, rgba(253, 253, 253, 1) 45%, rgba(231, 232, 231, 1) 100%);
    }
    .accesskey {
        color: #d3a826;
    }
    .navigation {
        .navlist {
            ul {
                >li {
                    a {
                        &.casebtn01 {
                            background: rgb(38, 72, 112);
                            background: linear-gradient(180deg, rgba(38, 72, 112, 1) 0%, rgba(21, 48, 76, 1) 100%);
                        }
                        &.casebtn02 {
                            background: rgb(117, 53, 60);
                            background: linear-gradient(180deg, rgba(117, 53, 60, 1) 0%, rgba(90, 38, 45, 1) 100%);
                        }
                    }
                }
            }
        }
    }
}
.header.fixed {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    background-image: $headerbg;
    background-repeat:repeat-x;
    background-position: center 0;
    // background: $megamenu;
    // background: $megamenulinear;
    
    z-index: 999;
    padding-top: 0;
    box-shadow: 0 0 10px #333;
    &:after {
        content: '';
        // background: $megamenu;
        // background: $megamenulinear;
        height: 60px;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    @include screen('tablet') {
        background: #FFF;
    }
}
.main {
    h2 {
        letter-spacing: 0;
        font-size: 1.625em;
        margin: 0 0 40px;
    }
}
footer {
    .footer_connection {
        .title {
            letter-spacing: 0;
        }
    }
}