
.main {
    background-image: $announcement_bg;
    background-repeat: repeat-y;
    background-position: center top;
}
.innerpage { background-image: none;}
.npbg {
    background-image: url('../images/npbg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}
.megamenu {
    margin: 0;
    >ul {
        border-radius: 0;
    }
    ul {
        li {
            .megamenu_2nd {
                border-radius: 0;
            }
        }
    }
}
