.megamenu {
    margin: 0;
    >ul {
        border-radius: 0;
    }
    ul {
        li {
            .megamenu_2nd {
                border-radius: 0;
            }
        }
    }
}
.fatfooter{
    background-image:none;
}
.main {
    h2{
        letter-spacing: 0;
        font-size: 1.625em;
        margin: 0 0 40px;
    }
}