.navigation {
    .navlist {
        ul {
            >li {
                a {
                    &.searchbtn, &.unitsbtn {
                        &:hover {
                            img {
                                filter: invert(100%);
                            }
                        }
                    }
                }
            }
        }
    }
}
.megamenu {
    margin: 0 30px;
    >ul {
        border-radius: 5px;
        li {
            .megamenu_2nd {
                border-radius: 5px;
            }
        }
    }
}