.navigation{
    .navlist {
        ul{
            >li{
                a{
                    &.searchbtn {
                         &:hover{
                                img{
                                    filter: invert(100%);
                                }
                                
                            }
                    }
                }
            }
        }
    }
}
.main {
    h2{
        letter-spacing: 0;
        font-size: 1.625em;
        margin: 0 0 40px;
    }
}